$color-main: #333;
$color-subtitle: #888;
$color-code: #e64e79;
$color-code-bg: rgba(251, 93, 138, 0.05);
$color-quote-border: rgba(251, 93, 138, 0.70);
$color-quote-bg: rgba(251, 93, 138, 0.05);
$color-a: #ef6a8f;
$color-a-hover: $color-code;
$color-drawer-bg: rgba(251, 93, 138, 0.1);
$color-nav: $color-main;
$color-nav-border: rgba(251, 93, 138, 0.60);
$color-nav-bg-hover: rgba(251, 93, 138, 0.02);
$color-nav-active-bg: rgba(251, 93, 138, 0.03);
$color-nav-active: #e80e4c;
$color-meta: #777;
$color-th: rgba(251, 93, 138, 0.12);
$color-table-cell-border: rgba(251, 93, 138, 0.20);

$color-comment-border: rgba(251, 93, 138, 0.4);
$color-comment-reaction-hover: rgba(251, 93, 138, 0.15);

::selection {
  background-color: rgba(251, 93, 138, 0.25);
}
