$chinese-font: "Noto Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Source Han Sans SC";
$default-font-list: "Lato", $chinese-font, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", "Droid Sans Fallback", sans-serif;
$mono-font-list: "Fira Code", "Cousine", Monaco, Menlo, "Source Code Pro", monospace, $chinese-font;
$sans-preferred-font-list: "Hind Vadodara", $chinese-font, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", "Droid Sans Fallback", sans-serif;
