$color-accent: #9f563a;
$back-container-background: #fcfcfc;
$front-container-background: #ffffff;

@import "colors";
@import "fonts";

$side-container-width: 25%; //280px;
$extra-container-width: 64px;
$stream-container-max-width: 1005px;

$nav-title-size: 30px;
$nav-subtitle-size: 18px;
$nav-link-size: 20px;
$nav-footer-size: 12px;
$post-title-size: 30px;
$post-summary-size: 16px;
$post-body-size: 16px;
$post-meta-size: 16px;
$tag-category-title-size: 22px;
$toc-size: 16px;

$dark-accent: darken($color-accent, 10%);
$deep-dark-accent: darken($color-accent, 50%);
$color-text: $deep-dark-accent;

@if lightness($color-accent) <10% {
  $dark-accent: $color-accent;
  $deep-dark-accent: $color-accent;
  $color-text: $deep-dark-accent;
}

$color-text: rgba(0, 0, 0, 0.85);

$single-column-max-width: 1020px;
$single-column-drawer-width: 260px;
$single-column-nav-title-size: 28px;
$single-column-nav-subtitle-size: 20px;
$single-column-nav-link-size: 18px;
$single-column-nav-footer-size: 13px;
$single-column-post-title-size: 22px;
$single-column-post-summary-size: 16px;
$single-column-post-body-size: 16px;
$single-column-post-meta-size: 14px;
$single-column-tag-category-title-size: 14px;
$single-column-toc-size: 14px;

$h1: 30px;
$h-diff: 3px;

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background: $back-container-background;
  padding: 0;
  margin: 0;
  font-family: $default-font-list;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: $color-text;
}

* {
  line-height: 1.5em;
  word-wrap: break-word;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h1 - 1 * $h-diff;
}

h3 {
  font-size: $h1 - 2 * $h-diff;
}

h4 {
  font-size: $h1 - 3 * $h-diff;
}

h5 {
  font-size: $h1 - 4 * $h-diff;
}

h6 {
  font-size: $h1 - 5 * $h-diff;
}

textarea,
select,
input,
button {
  outline: none !important;
}

button {
  cursor: hand;
  cursor: pointer;
}

code {
  color: inherit;
  // background: $color-code-bg !important;
  padding: 0 2px;
  // border-radius: 3px;
  font-family: $mono-font-list;
  // vertical-align: middle;
  display: inline-block;
  transform: translateY(-1px);

  &.punctuation-l { padding-left: 1px; }
  &.punctuation-r { padding-right: 1px; }
}

pre {
  background: $color-code-bg !important;
  color: $dark-accent;
  padding: 12px 15px;
  border-radius: 5px;
  font-family: $mono-font-list;
  * {
    background: none !important;
    font-family: $mono-font-list !important;
  }
  code {
    color: inherit;
    padding: 0 !important;
  }
}

blockquote {
  padding: 10px 20px;
  border-left: 3px solid $color-quote-border;
  color: $color-code;
  background: $color-quote-bg;
  p {
    margin-bottom: 0;
  }
  * {
    color: $color-code;
  }
}

a {
  color: $color-a;
  text-decoration-color: transparent;

  &:not(.no-transition) {
    transition: text-decoration-color 0.1s ease-in-out;
  }
  &:hover {
    color: $color-a-hover;
    text-underline-position: under;
    text-decoration-color: initial;
  }
  @media screen and (max-width: $single-column-max-width) {
    &:hover {
      text-decoration: none !important;
    }
  }
}

.a-block {
  display: block;
  text-decoration: none !important;
  color: inherit;
  &:hover {
    text-decoration: none !important;
  }
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-overflow {
  overflow: hidden !important;
}

.animated-visibility {
  transition: visibility 0s, opacity 0.5s linear;
  visibility: visible;
  opacity: 1;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.images {
  $paragraph-spacing: 20px;
  $text-paragraph-spacing-compensate: 2.5px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: -($paragraph-spacing / 2 - $text-paragraph-spacing-compensate);
  margin-bottom: $paragraph-spacing / 2 + $text-paragraph-spacing-compensate;

  .image {
    display: flex;
    flex-direction: column;
    margin: #{$paragraph-spacing / 2} 20px;

    a {
      text-align: center;

      img {
        max-height: 400px;
        border-radius: 0 !important;
      }
    }

    .image-caption {
      margin-bottom: 0;
      margin-top: 11px;
      text-align: center;
      font-size: 14px;
      color: #999;
      clear: both;
    }
  }
}

// dirty hack for livere
#lv-container {
  padding: 0 30px;

  @media screen and (max-width: $single-column-max-width) {
    padding: 0 15px;
  }
}

.single-column-nav-container {
  display: none !important;
  @media screen and (max-width: $single-column-max-width) {
    display: block !important;
    padding: 0;
    * {
      font-family: $sans-preferred-font-list;
    }
    button {
      padding: 0;
    }
    .nav-content {
      padding: 12px 20px;
      justify-content: flex-start;
      max-width: unset !important;
    }
    .navbar-brand {
      opacity: 0;
      text-align: left;
      padding-left: 24px !important;
    }
    .nav-dropdown-toggle {
      display: flex;
      align-content: center;
      align-items: center;
      justify-items: center;
      justify-content: center;
      background: none !important;
      border: none;
      padding-top: 1px;
      color: initial;
      &:hover {
        color: $color-nav-active !important;
      }
    }
    .nav-icon-group {
      z-index: 5;
      padding-right: 5px;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      li {
        display: inline;
        margin: 0;
        padding: 0;
      }
    }
    .nav-icon {
      padding: 8px;
    }
    .nav-background {
      opacity: 0;
      z-index: -1;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: white;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
}

.single-column-header-container {
  display: none !important;
  @media screen and (max-width: $single-column-max-width) {
    display: block !important;
    padding: 40px 20px 70px 20px;
    transition: padding 0.5s ease-in-out, margin 0.5s ease-in-out;
    text-align: center;
    font-family: $sans-preferred-font-list;
    * {
      font-family: $sans-preferred-font-list;
      color: $color-main;
    }
    .single-column-header-title {
      font-size: $single-column-nav-title-size;
    }
    .single-column-header-subtitle {
      margin-top: 14px;
      font-size: $single-column-nav-subtitle-size;
      font-weight: 300;
    }
  }
}

.single-column-drawer-container {
  display: none !important;
  @media screen and (max-width: $single-column-max-width) {
    display: block !important;
    position: fixed;
    top: 0;
    left: -$single-column-drawer-width;
    width: $single-column-drawer-width;
    height: 100vh;
    z-index: 1800;
    transition: all 0.3s ease-in-out;
    .drawer-content {
      background: white;
      height: 100%;
      width: 100%;
      padding: 50px 0 80px 0;
      display: flex;
      .drawer-menu {
        flex-grow: 1;
        display: flex;
        justify-items: center;
        // justify-content: center;
        flex-direction: column;
        $drawer-menu-item-active-background-alpha: 0.1;
        $drawer-menu-item-active-color-darken: 30%;
        .drawer-menu-item {
          font-size: $single-column-nav-link-size;
          margin-bottom: 10px;
          border-right: 2px solid transparent;
          padding: 8px 30px 8px 30px;
          cursor: hand;
          cursor: pointer;
          transition: all 0.2s linear;
          color: $color-main;
          &.active {
            border-right: 2px solid $color-a;
            background: $color-drawer-bg;
            color: $color-nav;
          }
        }
      }
    }
  }
}

.single-column-drawer-mask {
  display: none !important;
  @media screen and (max-width: $single-column-max-width) {
    display: block !important;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1600;
    transition: all 0.3s ease-in-out;
  }
}

.single-column-drawer-container-active {
  left: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.side-container {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 25%;
  text-align: right;
  font-family: $sans-preferred-font-list;
  padding: 20px 0 50px 0;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  $nav-item-hover-background-alpha: 0.02;
  $nav-item-hover-indicator-alpha: 0.6;
  $nav-item-hover-color-darken: 30%;
  $nav-item-active-background-alpha: 0.03;
  $nav-item-active-color-darken: 20%;
  .nav-head {
    padding: 30px 28px 30px 20px;
    cursor: hand;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.2s linear;
    color: $color-nav;
    .nav-title {
      color: $color-nav;
      font-size: $nav-title-size;
      line-height: $nav-title-size * 1.4;
      letter-spacing: 0.2px;
    }
    border-right: 2px solid transparent;
    .nav-subtitle {
      margin-top: 8px;
      font-size: $nav-subtitle-size;
      font-weight: 300;
      color: $color-subtitle;
    }
    &:hover {
      border-right: 2px solid $color-nav-border;
      background: $color-nav-bg-hover;
      color: $color-nav;
    }
    &.active {
      border-right: 2px solid $color-a;
      background: $color-nav-active-bg;
      color: $color-nav-active;
    }
  }
  .nav-link-list {
    flex-grow: 1;
    .nav-link-item {
      font-size: $nav-link-size;
      margin-bottom: 10px;
      border-right: 2px solid transparent;
      padding: 8px 28px 8px 30px;
      cursor: hand;
      cursor: pointer;
      transition: all 0.2s linear;
      color: $color-main;
      &:hover {
        border-right: 2px solid $color-nav-border;
        background: $color-nav-bg-hover;
        color: $color-nav;
      }
      &.active {
        border-right: 2px solid $color-a;
        background: $color-nav-active-bg;
        color: $color-nav-active;
      }
    }
  }
  .nav-footer {
    padding: 20px 30px 0 20px;
    font-size: $nav-footer-size;
  }
  @media screen and (max-width: $single-column-max-width) {
    display: none;
  }
}

.extra-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: $extra-container-width;
  text-align: right;
  font-family: $sans-preferred-font-list;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px 0;
  .pagination {
    display: flex;
    flex-direction: column;
    > :not(:last-child) {
      // border-bottom: 1px solid rgba(128, 128, 128, 0.12);
    }
    .pagination-indicator {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
      justify-items: center;
      width: $extra-container-width;
      padding: 15px 0;
      font-size: 12px;
      font-family: $mono-font-list;
    }
    .pagination-action {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
      justify-items: center;
      width: $extra-container-width;
      cursor: hand;
      cursor: pointer;
      padding: 15px 0;
      :not(.pagination-action-icon) {
        transition: all 0.2s linear;
        font-size: 13px;
        font-family: $mono-font-list;
      }
      .pagination-action-icon {
        // margin-right: 4px;
      }
      * {
        transition: all 0.3s linear;
      }
      &:hover {
        text-decoration: none;
        * {
          color: $dark-accent;
        }
      }
    }
  }
  @media screen and (max-width: $single-column-max-width) {
    display: none;
  }
}

.pagination-bar-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: $side-container-width;
  text-align: right;
  font-family: $sans-preferred-font-list;
  padding: 20px 0;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.stream-container {
  padding-left: 25%;
  padding-right: $extra-container-width;
  width: calc(100% - 25% - $extra-container-width);
  min-height: 100vh;
  max-width: $stream-container-max-width;
  box-sizing: content-box;

  @media screen and (max-width: $single-column-max-width) {
    padding: 0;
    min-height: unset;
  }

  .post-list-container {
    width: 100%;
    min-height: 100vh;
    padding: 20px 0 20px 0;
    background: $front-container-background;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.12);

    @media screen and (max-width: $single-column-max-width) {
      min-height: unset;
      padding: 0;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    }
    &,
    > * {
      .post-item-wrapper {
        cursor: hand;
        cursor: pointer;
        .post-item {
          margin: 0 28px 0 35px;
          padding: 30px 0;
          display: flex;
          flex-direction: row;
          align-items: center;

          @media screen and (max-width: $single-column-max-width) {
            flex-direction: column-reverse;
            margin: 0 0 15px 0;
            padding: 0;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
            background: $front-container-background;
          }
          .post-item-info-wrapper {
            flex-grow: 1;

            @media screen and (max-width: $single-column-max-width) {
              width: 100%;
              padding: 15px 20px;
            }
            .post-item-title {
              font-size: $post-title-size;
              font-weight: 600;
              font-style: normal;
              margin-bottom: 10px;
              line-height: 1.5em;

              @media screen and (max-width: $single-column-max-width) {
                font-size: $single-column-post-title-size;
                margin-bottom: 5px;
              }
            }

            .post-item-title-small {
              font-size: $tag-category-title-size;
              margin-bottom: 0;

              @media screen and (max-width: $single-column-max-width) {
                font-size: $single-column-tag-category-title-size;
              }
            }

            .post-item-summary {
              font-size: $post-summary-size;
              line-height: 1.5em;
              margin-top: 12px;
              margin-bottom: 10px;

              @media screen and (max-width: $single-column-max-width) {
                font-size: $single-column-post-summary-size;
                margin-bottom: 5px;
              }
            }
            .post-item-meta {
              font-size: $post-meta-size;

              @media screen and (max-width: $single-column-max-width) {
                font-size: $single-column-post-meta-size;
              }
            }
          }
          .post-item-image-wrapper {
            margin-left: 20px;
            @media screen and (max-width: $single-column-max-width) {
              width: 100%;
              margin-left: 0;
            }
            .post-item-image {
              width: 230px;
              height: 120px;
              background: no-repeat center;
              background-size: cover;
              border-radius: 5px;
              overflow: hidden;

              @media screen and (max-width: $single-column-max-width) {
                width: 100%;
                height: 180px;
                border-radius: 0;
              }
            }
          }
        }
        @media screen and (max-width: $single-column-max-width) {
          .post-item-no-divider {
            border-bottom: none !important;
          }
          .post-item-no-gaps {
            margin: 0;
            box-shadow: none;
          }
        }

        > * > * > * {
          transition: all 0.2s linear;
        }
        &:not(.post-item-wrapper-no-hover) {
          .post-item-title {
            text-decoration-color: transparent;
          }
        }
        &:not(.post-item-wrapper-no-hover):hover {
          text-decoration: none;
          background: rgba(0, 0, 0, 0.03);
          .post-item-title {
            text-decoration: underline;
            text-decoration-style: 2px solid $color-a;
            text-underline-position: under;
          }
          > * > * > * {
            color: $color-code;
          }

          @media screen and (max-width: $single-column-max-width) {
            .post-item-title {
              text-decoration: none !important;
            }
          }
        }
      }

      .post-item-wrapper-no-hover {
        cursor: unset;
      }

      &:not(:last-child) {
        .post-item {
          border-bottom: 1px solid rgba(128, 128, 128, 0.12);

          @media screen and (max-width: $single-column-max-width) {
            //border-bottom: none !important;
          }
        }
      }
    }
  }
  .post-list-container-no-background {
    @media screen and (max-width: $single-column-max-width) {
      background: none;
    }
  }
  .post-list-container-shadow {
    @media screen and (max-width: $single-column-max-width) {
      // box-shadow: 0 -6px 8px -4px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
    }
  }
  .post-list-footer {
    text-align: center;
    width: 100%;
    opacity: 0.3;
    color: $color-main;
    font-family: $default-font-list;
    font-size: 13px;
    padding: 15px;
  }
  .post {
    padding: 0 0 20px 0;
    .post-head-wrapper {
      margin-top: -20px;
      background: no-repeat center;
      background-size: cover;
      position: relative;
      padding-top: 140px;

      @media screen and (max-width: $single-column-max-width) {
        padding-top: 120px;
      }
      * {
        color: white;
      }
      .post-title {
        padding: 80px 35px 30px 35px;
        font-size: $post-title-size;
        font-weight: 600;
        font-style: normal;
        line-height: 1.5em;
        background: -moz-linear-gradient(
          top,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.75) 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
          top,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.75) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.75) 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#c6000000', GradientType=0); /* IE6-9 */

        @media screen and (max-width: $single-column-max-width) {
          font-size: $single-column-post-title-size;
          padding: 80px 20px 30px 20px;
        }
        .post-meta {
          margin: 0;
          &,
          * {
            font-size: 16px;
          }

          @media screen and (max-width: $single-column-max-width) {
            &,
            * {
              font-size: $single-column-post-meta-size;
            }
          }
        }
      }
    }

    .post-head-wrapper-text-only {
      padding: 30px 35px 0 35px;

      @media screen and (max-width: $single-column-max-width) {
        padding: 30px 20px 0 20px;
      }
      .post-title {
        font-size: $post-title-size;
        font-weight: 600;
        font-style: normal;
        line-height: 1.5em;
        .post-meta {
          margin: 0;
          &,
          * {
            font-size: 16px;
          }
          .material-icons {
            vertical-align: middle;
            margin-bottom: 3px;
          }

          @media screen and (max-width: $single-column-max-width) {
            &,
            * {
              font-size: $single-column-post-meta-size;
            }
          }
        }

        @media screen and (max-width: $single-column-max-width) {
          font-size: $single-column-post-title-size;
        }
      }
    }

    .post-body-wrapper {
      padding: 30px 35px 35px 35px;

      @media screen and (max-width: $single-column-max-width) {
        padding: 20px 20px 35px 20px;
      }
      .post-body {
        font-size: $post-body-size;
        line-height: 1.5em;
        * {
          word-wrap: break-word;
        }
        img {
          max-width: 100%;
          border-radius: 5px;
          overflow: hidden;
        }
        @media screen and (max-width: $single-column-max-width) {
          font-size: $single-column-post-body-size;
        }

        // Fix block elements' compatibility with ToC
        .flex-wrapper {
          display: flex;

          > * {
            flex-grow: 1;
          }
        }

        .toc {
          $margin: var(--margin);
          $padding: var(--padding);

          --margin: 30px;
          --padding: 30px;
          @media screen and (max-width: $single-column-max-width) {
            --margin: 20px;
            --padding: 20px;
          }

          float: right;
          border-radius: 5px;
          background: $color-quote-bg;
          padding: $padding;
          margin-left: $margin;
          margin-bottom: $margin;
          position: relative;

          &,
          * {
            list-style: none;
            font-size: $toc-size;
          }
          ul {
            padding: 0 0 0 20px;
            margin: 0;
          }
          @media screen and (max-width: $single-column-max-width) {
            &,
            * {
              font-size: $single-column-toc-size;
            }
          }
        }
      }
    }

    .post-pagination {
      padding: 20px 35px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .newer-posts {
        padding-right: 5px;
        text-align: left;
        width: 50%;
      }

      .older-posts {
        padding-left: 5px;
        text-align: right;
        width: 50%;
      }

      @media screen and (max-width: $single-column-max-width) {
        padding: 20px 20px;
      }
    }

    .post-comment-wrapper {
      iframe {
        // Yay a dirty hack
        overflow: hidden !important;
      }
      padding: 20px 35px;

      @media screen and (max-width: $single-column-max-width) {
        padding: 20px 20px;
      }
    }

    .post-comment-wrapper-giscus {
      padding: 0 35px;

      @media screen and (max-width: $single-column-max-width) {
        padding: 0 20px;
      }
    }
  }

  .pagination {
    display: none;

    @media screen and (max-width: $single-column-max-width) {
      display: flex !important;
      flex-direction: row;
      justify-content: space-between;
      &:not(.index-page) {
        margin-top: 15px;
      }
      .pagination-indicator {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        width: $extra-container-width;
        padding: 15px 0;
        font-size: 12px;
        font-family: $mono-font-list;
      }
      .pagination-action {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        width: $extra-container-width;
        cursor: hand;
        cursor: pointer;
        padding: 15px 0;
        :not(.pagination-action-icon) {
          transition: all 0.2s linear;
          font-size: 13px;
          font-family: $mono-font-list;
        }
        .pagination-action-icon {
          // margin-right: 4px;
        }
        * {
          transition: all 0.3s linear;
        }
        &:hover {
          text-decoration: none;
          * {
            color: $color-code;
          }
        }
      }
    }
  }

  .single-column-footer {
    display: none;

    @media screen and (max-width: $single-column-max-width) {
      display: block !important;
      text-align: center;
      font-size: $single-column-nav-footer-size;
      font-family: $sans-preferred-font-list;
      padding: 40px 20px 40px 20px;
    }
  }
}

.headerlink {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;

  &::before {
    content: ' ';
    visibility: hidden;
  }

  &::after {
    content: '#';
  }

  &:not(:hover) {
    color: #999;
  }
}

h1, h2, h3, h4, h5, h6 {
  &:hover > .headerlink {
    opacity: 1;
  }
}

.post-meta, .post-item-meta {
  font-weight: normal;
  margin-top: 7px !important;
}

.post-meta, .post-meta *, .post-item-meta {
  color: $color-meta;
}

.post-meta .material-icons, .post-item-meta .material-icons {
  margin-left: 14px;
  margin-right: 2px;
  margin-top: -0.5px;
  font-size: 19px !important;
  vertical-align: middle;
  margin-bottom: 3px;
}

.nav-footer {
  line-height: 1.7;
}

.nav-footer {
  color: #777;
}

.nav-footer, .single-column-footer {
  .material-icons {
    color: inherit;
    font-size: 13px;
    vertical-align: middle;
    margin-top: -2.5px;
    margin-left: 1px;
  }
}

/* Category List */
.post-item-no-gaps .post-item-title-small {
  font-weight: normal !important;
}

.post-body > p, .post-body > pre, .post-body > ul, .post-body > ol, .post-body > table {
  margin-bottom: 20px;
}

.post-body > :last-child {
  margin-bottom: 0;
}

.breadcrumb-divider {
  margin: 0 8px;
  color: $color-subtitle;
  font-weight: 300;
}

/* GFM Tables */

table {
  width: 100%;

  thead {
    background-color: $color-th;
  }

  th, td {
    padding: 13px 11px;
  }

  td, th {
    &:first-child {
      border-left: 1px solid $color-table-cell-border;
    }

    border-right: 1px solid $color-table-cell-border;
  }

  tr {
    &:first-child {
      border-top: 1px solid $color-table-cell-border;
    }

    border-bottom: 1px solid $color-table-cell-border;
  }
}

/* Friends */
.friends {
  font-family: "Source Sans Pro", $default-font-list;

  $avatar-top: 50px;
  $avatar-left: 12px;
  $avatar-right: 12px;
  $avatar-bottom: 12px;
  $avatar-size: 70px;
  $banner-height: $avatar-top + $avatar-size / 2;
  $text-height: 40px;

  $name-size: 21.5px;
  $description-size: 15px;

  $card-width: 290px;
  $card-height: $avatar-top + $avatar-size + $avatar-bottom;

  $spacing-vertical: 25px;
  $spacing-horizontal: 25px;

  .friend-link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: -$spacing-horizontal;
  margin-bottom: -$spacing-vertical;

  .friend {
    width: $card-width;
    height: $card-height;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin-right: $spacing-horizontal;
    margin-bottom: $spacing-vertical;

    .avatar {
      position: absolute;
      top: $avatar-top;
      left: $avatar-left;
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 50%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      background-color: #fff;

      img {
        border-radius: 0;
        width: 100%;
        height: 100%;
      }
    }

    .banner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $banner-height;
      overflow: hidden;

      > img {
        border-radius: 0;
        // object-fit: cover;
        // max-width: initial;
        // width: 100%;
        // min-height: 100%;
        // transform: translate(-50%, -50%);
        // position: relative;
        // top: calc(50%);
        // left: 50%;
      }

      &::after {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(60,60,60,0.25) 0%, rgba(0,0,0,0) 60%);
      }
    }

    .text {
      position: absolute;
      top: $banner-height - $text-height - 2px;
      left: $avatar-left + $avatar-size + $avatar-right;
      pointer-events: none;
    }

    .name {
      line-height: $text-height;
      font-size: $name-size;
      font-weight: bolder;
      text-shadow: 0 0 10px #000;
      color: #f9f9f9;
    }

    .description {
      margin-top: 3px;
      line-height: $text-height;
      // line-height: #{$card-height - $banner-height};
      color: #888;
      font-size: $description-size;
      // letter-spacing: -0.1px;
      pointer-events: initial;
    }
  }
}

@import "highlight";
